body {
    --primary: #fafafa;
    --secondary: #561b5e;
    --content-bg: #e5e5e5;
    --sidebar-bg: #ebebeb;
    --active-route-bg: #c7c7c7;
    --box-shadow: #08080880;
    --text: #000000;
    --dialog: #cecece;
    --scroll: #561b5e;
    color: var(--text);
    width: 600px;
    height: auto;
}

body, body * {
    scrollbar-color: var(--secondary) var(--secondary);
    scrollbar-width: thin;
}

body ::-webkit-scrollbar, body * ::-webkit-scrollbar {
    width: 6px !important;
    height: 6px !important;
}

body ::-webkit-scrollbar-track, body * ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px var(--box-shadow) !important;
}

body ::-webkit-scrollbar-thumb, body * ::-webkit-scrollbar-thumb {
    background-color: var(--secondary) !important;
    outline: none !important;
}

.button {
    padding: 5px;
    background: var(--secondary);
    color: var(--primary);
    box-shadow: 0px 1px 5px 0px var(--box-shadow);
    cursor: pointer;
    width: 100px;
    text-align: center;
    border-radius: 4px;
    vertical-align: middle;
    line-height: 20px;
    height: 20px;
    position: absolute;
    top: 10;
    right: 10px;
}

.button:active {
    background: var(--primary);
    color: var(--secondary);
}

.mini-button {
    padding: 5px;
    background: var(--primary);
    color: var(--secondary);
    cursor: pointer;
    width: 16px;
    text-align: center;
    vertical-align: middle;
    line-height: 16px;
    height: 16px;
    position: absolute;
    top: 10;
    right: 118px;
    border: solid 2px var(--secondary);
    border-radius: 4px 0px 0px 4px;
    background-size: cover;
    cursor: url(black.png), auto;
    box-shadow: 0px 1px 5px 0px var(--box-shadow);
}

.mini-button.active {
    background: var(--secondary);
    color: var(--primary);
    content: url(aim-1-512.png) !important;
}

#tabulator {
    height: 500px;
}

.tab {
    background: var(--primary);
    color: var(--secondary);
    font-size: 15px;
    font-weight: bold;
    padding: 5px;
    width: 30px;
    text-align: center;
    float: left;
    border-radius: 6px 6px 0px 0px;
    cursor: pointer;
    box-shadow: 0px 1px 5px 0px var(--box-shadow);
}

.code {
    width: 590px;
    height: 460px;
    background: #1d1e22;
    position: absolute;
    left: -2px;
    margin: 10px;
    margin-top: 5px;
    overflow: auto;
    white-space: pre;
    color: var(--active-route-bg);
    padding: 5px;
    text-align: left;
    cursor: default;
}

#js-result, #csharp-result {
    z-index: -1;
    position: absolute;
    left: 82px;
    top: 55px;
    width: 73%;
    background-color: var(--secondary);
    color: var(--primary);
    text-align: left;
    padding: 5px;
    display: none;
    min-height: 20px;
}

#js-result .loader, #csharp-result .loader {
    font-size: 10px;
    margin: auto;
    text-indent: -9999em;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #ffffff;
    background: -moz-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    background: -webkit-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    background: -o-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    background: -ms-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    background: linear-gradient(to right, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    position: relative;
    -webkit-animation: load3 1.4s infinite linear;
    animation: load3 1.4s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    top: 0px;
}

#js {
    z-index: 5;
}

#csharp {
    z-index: 3;
}

#js.active+#js-result {
    z-index: 91;
    display: block;
}

#csharp.active+#csharp-result {
    z-index: 91;
    display: block;
}

#js.active {
    z-index: 5;
}

#csharp.active {
    z-index: 5;
}

#js-tab.active {
    background: var(--secondary);
    color: var(--primary);
}

#csharp-tab.active {
    background: var(--secondary);
    color: var(--primary);
}

.circle {
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: #561b5e;
    z-index: 8;
    border-radius: 50%;
    cursor: pointer;
    top: 55px;
    box-shadow: 0px 1px 5px 0px var(--box-shadow);
}

.circle img {
    width: 15px;
    height: 15px;
    margin-top: 5px;
}

.circle a {
    width: inherit;
    height: inherit;
}

.circle a img {
    width: 15px;
    height: 15px;
    margin-top: 5px;
}

.copy img {
    margin-left: 5px;
}

.download {
    right: 45px;
    z-index: -1;
}

.download.active {
    z-index: 8;
}

.copy {
    right: 15px;
}

.toCopy {
    width: 0px;
    height: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
}

.loader, .loader:before, .loader:after {
    background: #ffffff;
    -webkit-animation: load1 1s infinite ease-in-out;
    animation: load1 1s infinite ease-in-out;
    width: 10px;
    height: 2s0px;
}

.loader, .loader:after {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.loader {
    font-size: 10px;
    margin: 50px auto;
    text-indent: -9999em;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #ffffff;
    background: -moz-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    background: -webkit-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    background: -o-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    background: -ms-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    background: linear-gradient(to right, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    position: relative;
    -webkit-animation: load3 1.4s infinite linear;
    animation: load3 1.4s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    top: -53px;
}

.loader:before {
    width: 50%;
    height: 50%;
    background: #ffffff;
    border-radius: 100% 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
}

.loader:after {
    background: var(--secondary);
    width: 75%;
    height: 75%;
    border-radius: 50%;
    content: '';
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

@-webkit-keyframes load3 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes load3 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}