<div>
    <div class="list">
        <div id="github" class="item"><img src="../../assets/GitHub-Mark-Light-64px.png" alt="github"></div>
        <div id="cursor-mode" class="item"><span class="material-icons">highlight_alt</span></div>
        <div id="query" class="item"><span class="material-icons">manage_search</span></div>
        <div id="models" class="item deactive"><span class="material-icons">model_training</span></div>
        <div id="window" class="item"><span class="material-icons">open_in_new</span></div>
    </div>
    <div class="collapsed">
        <div id="pip" class="item"><span class="material-icons">picture_in_picture</span></div>
        <div id="node" class="item"><span class="material-icons">open_in_browser</span></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
        <div class="item empty"></div>
    </div>
</div>